/* Element selectors */
body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Class selectors */
.btn-download {
    margin: 5% 3% 5% 0;
}

.circle-check-logo {
    color: #ef8172;
    /* font-size: 3.5rem;  class fa-4x has similar effect */
    margin-bottom: 1rem;
}

.circle-check-logo:hover {
    color: #ff4c68;
}

.container-fluid {
    padding: 3% 15%;
}

.feature-column {
    margin-top: 10%;
    padding: 0 4%;
}

.feature-p {
    color: #8f8f8f;
    padding: 0 5%;
}

.feature-row {
    margin: 0 9% 5%;
    text-align: center;
}

.nav-link {
    font-size: 1.2rem;
}

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: 800;
}

/* ID selectors */
#iphone6-mockup {
    height: 500px;
    transform: rotate(20deg);
    width: 250px;
}

#mynavbar {
    width: 84%;
}

#title {
    background-color: #ff4c68;
    color: white;
}